<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-game-heading" jhiTranslate="conqcubesApp.game.home.createOrEditLabel">Create or edit a Game</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_player"
                           jhiTranslate="conqcubesApp.game.player">Player</label>
                    <select class="form-control" formControlName="player" id="field_player" name="player">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let playerOption of players; trackBy: trackPlayerById"
                                [ngValue]="playerOption.id === editForm.get('player').value?.id ? editForm.get('player').value : playerOption">{{playerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gameField" jhiTranslate="conqcubesApp.game.gameField">Game
                        Field</label>
                    <select class="form-control" formControlName="gameField" id="field_gameField" name="gameField">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let fieldOption of gamefields; trackBy: trackFieldById"
                                [ngValue]="fieldOption.id === editForm.get('gameField').value?.id ? editForm.get('gameField').value : fieldOption">{{fieldOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_loggedPlayer"
                           jhiTranslate="conqcubesApp.game.loggedPlayer">Logged Player</label>
                    <select class="form-control" formControlName="loggedPlayer" id="field_loggedPlayer"
                            name="loggedPlayer">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let playerOption of players; trackBy: trackPlayerById"
                                [ngValue]="playerOption.id === editForm.get('loggedPlayer').value?.id ? editForm.get('loggedPlayer').value : playerOption">{{playerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
