<div>
    <h2 id="page-heading">
        <span jhiTranslate="conqcubesApp.player.home.title">Players</span>
        <button [routerLink]="['/player/new']" class="btn btn-primary float-right jh-create-entity create-player"
                id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="conqcubesApp.player.home.createLabel">
            Create a new Player
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="players?.length === 0" class="alert alert-warning">
        <span jhiTranslate="conqcubesApp.player.home.notFound">No players found</span>
    </div>
    <div *ngIf="players?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="conqcubesApp.player.firstName">First Name</span></th>
                <th><span jhiTranslate="conqcubesApp.player.lastName">Last Name</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of players ;trackBy: trackId">
                <td><a [routerLink]="['/player', player.id, 'view' ]">{{player.id}}</a></td>
                <td>{{player.firstName}}</td>
                <td>{{player.lastName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/player', player.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/player', player.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button [routerLink]="['/player', { outlets: { popup: player.id + '/delete'} }]"
                                class="btn btn-danger btn-sm"
                                queryParamsHandling="merge"
                                replaceUrl="true"
                                type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
