<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="field">
            <h2><span jhiTranslate="conqcubesApp.field.detail.title">Field</span> {{field.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="conqcubesApp.field.width">Width</span></dt>
                <dd>
                    <span>{{field.width}}</span>
                </dd>
                <dt><span jhiTranslate="conqcubesApp.field.height">Height</span></dt>
                <dd>
                    <span>{{field.height}}</span>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/field', field.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
